.gitignore
*~
*.o
*.lo
*.a
*.la
*.kdevelop
*.kdevelop.pcs
*.kdevses
Makefile
Doxyfile

TestPosixSocketClient/TestPosixSocketClient
twsapi_config.h
testclient
testclientssl

## autotools
.deps/
.dirstamp
.libs/
Makefile.in
aclocal.m4
autom4te.cache
configure
config.log
depcomp
install-sh
missing
config.guess
config.h
config.h.in
config.status
config.sub
build*
=build*
include
libtool
ltmain.sh
stamp-h1
test-driver

## libtool
libtool
libltdl/
m4/argz.m4
m4/libtool.m4
m4/lt*.m4
ltmain.sh

*.pc
*.spec
