.gitignore
*~
*.o
*.lo
*.a
*.la
*.kdevelop
*.kdevelop.pcs
*.kdevses
Makefile
Doxyfile
TestPosixSocketClient/TestPosixSocketClient


## autotools
Makefile.in
aclocal.m4
autom4te.cache
configure
config.log
depcomp
install-sh
missing
config.guess
config.h
config.h.in
config.status
config.sub
build*
=build*
.deps
include
lib
.libs
libtool
ltmain.sh
stamp-h1
test-driver

*.pc
*.spec
